<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/styles.css'>
  <title>Shoos Shop</title>
</head>
<body>
 
  <h1>Shoos Shop</h1>
  <h3>Your One Stop Shoe Shop!</h3> 
  
  <IMG STYLE="position:absolute; TOP:30px; LEFT:720px; WIDTH:90px; HEIGHT:90px" SRC="https://www.oscarjacobson.com/media/Oscar-Jacobson_PLYMOUTH-Shoes-I-Brun-brogue-l%C3%A5g_brun_91038464_550_front.png">
  <IMG STYLE="position:absolute; TOP:30px; LEFT:360px; WIDTH:90px; HEIGHT:90px" SRC="https://www.oscarjacobson.com/media/Oscar-Jacobson_PLYMOUTH-Shoes-I-Brun-brogue-l%C3%A5g_brun_91038464_550_front.png">

  <%= yield  %>
  
</body>
</html>