<div>
<h2>Submit An Artist</h2>

<form action="/artists" method="post">
  <label for="artist_name">Artist Name:</label>
  <input type="text" name="name">

  <input type="submit" value="Submit Artist">
</form>
</div>